@model IEnumerable<practicaparcial1.Models.calculation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Operation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CalculationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CalculationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CalculationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
